wheel
b2sdk
Flask
Pillow==11.3.0
google-generativeai==0.5.4
matplotlib==3.8.2
numpy==1.24.3
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.76
pandas==2.1.4
pyngrok==7.0.0
requests
flask-cors
transformers==4.41.2
ultralytics==8.0.203 